<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.finwin.doorstep.rightview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name="com.finwin.doorstep.rightview.home.jlg.split_transaction.SplitTransactionActivity"
            android:theme="@style/AppTheme_Material"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity android:name="com.finwin.doorstep.rightview.home.jlg.search_account_group.SearchGroupActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.finwin.doorstep.rightview.home.enquiry.mini_statement.reciept.MiniStatementRecieptActivity"
            android:theme="@style/AppTheme_Material"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.finwin.doorstep.rightview.print_reciept.ReceiptActivity"
            android:theme="@style/AppTheme_Material"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.finwin.doorstep.rightview.home.transactions.search_account.SearchActivity"
            android:theme="@style/AppTheme_Material"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.finwin.doorstep.rightview.home.home_activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme_Material"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name="com.finwin.doorstep.rightview.MainActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.finwin.doorstep.rightview.login.LoginActivity"
            android:theme="@style/AppTheme_Material"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>